Package: libnginx-mod-http-geoip
Source: nginx
Version: 1.16.1-0+bionic1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 65
Depends: nginx-common (= 1.16.1-0+bionic1), libc6 (>= 2.14), libgeoip1
Section: httpd
Priority: optional
Homepage: http://nginx.net
Description: GeoIP HTTP module for Nginx
 The ngx_http_geoip module creates variables with values depending on the
 client IP address, using the precompiled MaxMind databases.
 .
 Those variables include country, region, city, latitude, longitude, postal
 code, etc.
