.swal2-popup {
  background-color: var(--primary-top-menu) !important;
  border: 0.1px solid var(--primary-light-1) !important;
  box-shadow: 0px 0px 30px var(--primary-light-2) !important;
}

.swal2-title {
  color: var(--font-color-theme) !important;
}

.pointer {
  cursor: pointer;
}