Package: libnginx-mod-rtmp
Source: nginx
Version: 1.16.1-0+bionic1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 362
Depends: nginx-common (= 1.16.1-0+bionic1), libc6 (>= 2.14)
Section: httpd
Priority: optional
Homepage: http://nginx.net
Description: RTMP support for Nginx
 The nginx RTMP module is a fully-featured streaming solution implemented in
 nginx.
 .
 It provides the following features:
  - Live streaming with RTMP, HLS and MPEG-DASH;
  - RTMP Video on Demand from local or HTTP sources;
  - Stream relay support via a push or pull model;
  - Integrated stream recording;
  - and more.
