Package: libnginx-mod-http-upstream-fair
Source: nginx
Version: 1.16.1-0+bionic1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 64
Depends: nginx-common (= 1.16.1-0+bionic1), libc6 (>= 2.4)
Section: httpd
Priority: optional
Homepage: http://nginx.net
Description: Nginx Upstream Fair Proxy Load Balancer
 The Nginx fair proxy balancer enhances the standard round-robin load balancer
 provided with Nginx so that it tracks busy backend servers and adjusts
 balancing accordingly.
