Package: libnginx-mod-mail
Source: nginx
Version: 1.16.1-0+bionic1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 143
Depends: nginx-common (= 1.16.1-0+bionic1), libc6 (>= 2.14)
Section: httpd
Priority: optional
Homepage: http://nginx.net
Description: Mail module for Nginx
 The nginx_mail module adds mail proxy support to nginx.
 .
 The module supports proxying all the standard mail protocols such as IMAP,
 POP3 & SMTP.
