Package: libnginx-mod-http-lua-dbgsym
Package-Type: ddeb
Source: nginx
Version: 1.16.1-0+bionic1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 1443
Depends: libnginx-mod-http-lua (= 1.16.1-0+bionic1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-lua
Build-Ids: 5b2e8d0636c7e77f5181a182010e31a1ec7cee38
