Package: nginx
Version: 1.16.1-0+bionic1
Architecture: all
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 36
Depends: nginx-full (<< 1.16.1-0+bionic1.1~) | nginx-light (<< 1.16.1-0+bionic1.1~) | nginx-extras (<< 1.16.1-0+bionic1.1~), nginx-full (>= 1.16.1-0+bionic1) | nginx-light (>= 1.16.1-0+bionic1) | nginx-extras (>= 1.16.1-0+bionic1)
Section: httpd
Priority: optional
Homepage: http://nginx.net
Description: small, powerful, scalable web/proxy server
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This is a dependency package to install either nginx-full (by default),
 nginx-light or nginx-extras.
