Package: nginx-full-dbgsym
Package-Type: ddeb
Source: nginx
Version: 1.16.1-0+bionic1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 3152
Depends: nginx-full (= 1.16.1-0+bionic1)
Breaks: nginx-full-dbg (<< 1.10.1-3~)
Replaces: nginx-full-dbg (<< 1.10.1-3~)
Section: debug
Priority: optional
Description: debug symbols for nginx-full
Build-Ids: 23e829e5a24bbfb0bfbf2c8ec1fba82003d71bc3
