Package: libnginx-mod-rtmp-dbgsym
Package-Type: ddeb
Source: nginx
Version: 1.16.1-0+bionic1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 577
Depends: libnginx-mod-rtmp (= 1.16.1-0+bionic1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-rtmp
Build-Ids: ceff0d29910ecc5fc5d72286811e429ef87f18d4
