Package: libnginx-mod-http-ndk-dbgsym
Package-Type: ddeb
Source: nginx
Version: 1.16.1-0+bionic1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 58
Depends: libnginx-mod-http-ndk (= 1.16.1-0+bionic1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-ndk
Build-Ids: 5e168a4638332e4a789c272e484cb8d6482f3c2f
