Package: libnginx-mod-http-uploadprogress-dbgsym
Package-Type: ddeb
Source: nginx
Version: 1.16.1-0+bionic1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@lists.alioth.debian.org>
Installed-Size: 68
Depends: libnginx-mod-http-uploadprogress (= 1.16.1-0+bionic1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-uploadprogress
Build-Ids: 9d8c0105ac57e3ecdefbc277e729b12f55efe904
